/*
    By Abhishek kamal
    Friday, 29 july 2019
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: rgb(204, 204, 204);
    height: 100%;
    margin: 0;
}

main {
    display: block;
    width: 360px;
    /*height: 100vh;*/
    height: 120vh;
    margin: 0 auto;
    background: white;

}

#card {
    margin-top: -30px;
    padding: 0px 0px 0px 20px;
    float: left;
    width: 100%;

}

#card_1 {
    float: left;
    width: 300px;
    background-color: #847cfc;
    padding: 30px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    padding-bottom: 8px;
    -webkit-box-shadow: 0px 20px 40px -25px #847cfc;
    box-shadow: 0px 20px 40px -25px #847cfc;
}

#card_1 #card_name {
    text-align: end;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 19px;
    padding: 0px;
    margin: 0;

}

#card_number {

    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    margin: 5px 0px 10px 0px
}

#card_number span {

    display: inline;
    margin-right: 8.2%;
}

#card_number span:nth-last-child(1) {
    margin-right: 0;
}

#recent_transactions_section {
    clear: both;
    width: 100%;
    float: left;
    padding-left: 10px;

}

#chip {
    width: 40px;
    margin-top: -5px;
}

#chip img {
    width: 100%;
}

#chip svg {
    width: 100%;
}

#pp1 {
    font-size: 10px;
    color: #e3dfdf;
    display: block;
    float: left;
    width: 100%;
    margin-top: 0px;
}

#card_details {
    display: block;
    float: left;
    width: 100%;
    letter-spacing: 1px
}

#card_details #card_holder {

    float: left;
}

#card_details #card_expires {

    float: right;
}

#pp2 {
    clear: both;
    color: #fff;
    float: left;
    width: 100%;
    display: block;
    margin-top: 0;
}

#card_holder_name {
    float: left;
}

#card_expires_date {
    float: right;
}

#card_2 {
    width: 20px;
    height: 200px;
    padding: 0px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#63cbef), to(#6f8cfb));
    background-image: linear-gradient(to top, #63cbef, #6f8cfb);
    float: right;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

#just_h {
    display: inline-block;
    clear: both;
    margin-top: 10px;
    width: 97%;
}

#heading {
    vertical-align: sub;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    letter-spacing: 1px;
    padding-left: 10px;
}

#icons {
    float: right;
    width: 25px;
    cursor: pointer;
}

#icons img {
    width: 100%;
}

.tr_img {
    width: 50px;
    float: left;
    vertical-align: middle;
    height: 50px;
    border-radius: 50px;
}

.tr_img img {
    width: 100%
}

.align {
    float: left;
    width: 80%;
    padding: 0px 0px 0px 10px;
}

.tr_p1 {
    display: block;
    color: #908f8f;
    width: 100%;
    padding: 0;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
}

.tr_p1 .tr_name {
    display: inline-block;
}

.tr_ammount {
    display: inline-block;
    float: right;
}

.tr_p2 {
    /* clear: both;
            float: left; */
    width: 100%;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    color: gray;
}

.tr_p2 .tr_name_at {
    display: inline-block;
}

.tr_p2 .tr_date {
    display: inline-block;
    float: right;
}

.company_shadow {
    float: left;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 5px 6.5px 10px;
    border-radius: 10px;
    /*box-shadow: 0px 2px 17px -12px #000;*/
    /*box-shadow: 0px 10px 5px #888, 0px -10px 5px #888;*/
    -webkit-box-shadow: 0px -18px 25px -20px #CCC, 5px -11px 0px -15px #CCC;
    box-shadow: 0px -18px 25px -20px #CCC, 5px -11px 0px -15px #CCC;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.company_shadow:hover {
    -webkit-box-shadow: 0px 18px 25px -7px #CCC, 5px -11px 30px -15px #CCC;
    box-shadow: 0px 18px 25px -7px #CCC, 5px -11px 30px -15px #CCC;
}

#transaction_info {
    padding: 10px;
}
